.id{
    font-size: 20px;
    font-weight: bolder;
}
.price{
    font-size: 15px;
    font-weight: bold;
}
.cat{
    font-size: 20px;
    font-weight: bold;
}
#main{
   display: grid;
    grid-template-columns: repeat(4, minmax(100px , 1fr));
    gap: 25px;
    margin-top: 20px;
   overflow-x: hidden;
}
 #main .inner{
    height: fit-content;
    width: 100%;
    border: 3px solid black;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
/* .des{
    max-height: 100px;
   */
